<% include partials/header %>
<br>
<div class="container">
  <div class="jumbotron">
    <h2><%= title %></h2>
    <h2><strong><%= date %></strong></h2>
    <h2><strong><%= time %></strong></h2>
    <br>
    <%if (message != "") {%>
        <div class="alert alert-danger">
            <h2>"<%= message %>" - <%= user %></h2>
        </div>
    <% } %>
  </div>
  <div class="alert alert-info">
    <h2><strong><a href="https://www.cognitoforms.com/PainterLab1/CleanroomChecklist" class="alert-link">SUBMIT A CHECKLIST</a></strong></h2>
  </div>
  <div class="alert alert-success">
    <h2><strong><a href="https://docs.google.com/spreadsheets/d/10009Y1R6vAcs7MF2Y1ZQWmickcqyhC04GPd5m0NVXZk/" class="alert-link">VIEW PREVIOUS SUBMISSIONS</a></strong></h2>
  </div>
</div>
<% include partials/footer %>
