<% include partials/header %>
<%if (message != "" && message != null) {%>
    <div class="alert alert-danger">
        <h2>"<%= message %>" - <%= user %></h2>
    </div>
<% } %>
<br>
<div class="container">
  <div class="jumbotron">
    <h2><%= title %></h2>
    <h2><strong><%= date %></strong></h2>
    <h2><strong><%= time %></strong></h2>
  </div>
  <div class="alert alert-success">
    <h3><strong><u><a href="https://www.cognitoforms.com/forms/paintergroupcleanroomchecklist/entries" target="_blank" class="alert-link">VIEW PREVIOUS SUBMISSIONS</a></u></strong></h3> 
  </div>
<div class="alert alert-info">
  <h3><strong><u><a href="http://friday.caltech.edu/checklist/help" class="alert-link">HELP</a></u></strong></h3> </div>
  <!-- <div align="center">
      <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSvhMT_zqwlmo6Z7Wks0W1ZTwPRHexj5nAYyWze5_y_aNVN4ZcH_O2S4bG72siGcy74ZSUrAJnZ11TI/pubhtml?chrome=false&widget=true&amp;headers=false" height=300, width="100%"></iframe>
  </div> -->
  <div class="alert alert-warning">
    <h3><strong><u><a href="https://docs.google.com/spreadsheets/d/14GGOBA9Ky5JvGLNQ3OXT5y_r5jfD1fe28JzRGpelwY8/edit?usp=sharing" target="_blank" class="alert-link">UETCH USAGE LOG</a></u></strong></h3>
  </div>
    <br>
</div>
<!-- <div class="alert alert-info">
  <h3><strong>SUBMIT A CHECKLIST</strong></h3>
</div> -->
<h2 align="center"><strong>SUBMIT A CHECKLIST:<strong></h2>
    <br>
<div align="center" class="cognito" style="overflow:visible !important">
<script src="https://services.cognitoforms.com/s/VIhetiBf50yhgAOFwuvntg"></script>
<script>Cognito.load("forms", { id: "3" });</script>
</div>
<br>
<div class="container">
<div class="alert alert-warning">
    <h3><strong><u><a href="https://docs.google.com/spreadsheets/d/10009Y1R6vAcs7MF2Y1ZQWmickcqyhC04GPd5m0NVXZk/" target="_blank" class="alert-link">PREVIOUS SUBMISSIONS BACKUP</a></u></strong></h3>
  </div>
  </div>
<% include partials/footer %>
